{% extends 'user/base.html' %}
{% load static %}
{% block content %}

            

            <header class="site-header d-flex flex-column justify-content-center align-items-center">
                <div class="container">
                    <div class="row justify-content-center align-items-center">

                        <div class="col-lg-5 col-12 mb-5">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <!-- <li class="breadcrumb-item"><a href="index.html">Reality</a></li> -->

                                    <li class="breadcrumb-item active" aria-current="page">Reality</li>
                                </ol>
                            </nav>

                            <h2 class="text-white">Health Care</h2>

                          
                        </div>

                        <div class="col-lg-5 col-12">
                        {% for h in health %}
                            <div class="topics-detail-block bg-white shadow-lg">
                                <img src="{{h.imageURL}}" class="topics-detail-block-image img-fluid">
                            </div>
                        {% endfor %}
                        </div>

                    </div>
                </div>
            </header>


            <section class="topics-detail-section section-padding" id="topics-detail">
                <div class="container">
                {% for h in health %}
                    <div class="row">

                        <div class="col-lg-8 col-12 m-auto">
                            <h3 class="mb-4">Health care</h3>

                            <p>{{h.description}}</p>
                            
                            
                        </div>
                        <div class="row my-4">
                            <div class="col-lg-6 col-md-6 col-12">
                                <img src="{{h.imageURL_1}}" class="topics-detail-block-image img-fluid">
                            </div>

                            <div class="col-lg-6 col-md-6 col-12 mt-4 mt-lg-0 mt-md-0">
                                <img src="{{h.imageURL_2}}" class="topics-detail-block-image img-fluid">
                            </div>
                        </div>

                    </div>
                {% endfor %}
                </div>
                
            </section>
{% endblock %}