{% extends 'user/base.html' %}
{% load static %}
{% block content %}
            

            <header class="site-header d-flex flex-column justify-content-center align-items-center">
                <div class="container">
                    <div class="row justify-content-center align-items-center">

                        <div class="col-lg-5 col-12 mb-5">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    
                                    <li class="breadcrumb-item active" aria-current="page">Investments</li>
                                </ol>
                            </nav>

                            <h2 class="text-white">StartUp</h2>

                            
                        </div>
                        {% for i in start %}

                        <div class="col-lg-5 col-12">
                            <div class="topics-detail-block bg-white shadow-lg">
                                <img src="{{i.imageURL}}" class="topics-detail-block-image img-fluid">
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </header>


            <section class="topics-detail-section section-padding" id="topics-detail">
                <div class="container">
                {% for s in start %}
                    <div class="row">

                        <div class="col-lg-8 col-12 m-auto">
                            <h3 class="mb-4">StartUp</h3>

                            <p>{{s.description}}</p>
                            

                            <div class="row my-4">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <img src="{{s.imageURL_1}}" class="topics-detail-block-image img-fluid">
                                </div>

                                <div class="col-lg-6 col-md-6 col-12 mt-4 mt-lg-0 mt-md-0">
                                    <img src="{{s.imageURL_2}}" class="topics-detail-block-image img-fluid">
                                </div>
                            </div>

                            
                        </div>

                    </div>
                {% endfor %}
                </div>
            </section>
{% endblock %}