{% extends 'admi/base.html' %}
{% load static %}
{% block content %}
            
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Health Care BG image </h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Health Care</li>
                        </ol>
                    
                        <div class="card mb-4">                                                                    
                            <div class="card-body">
                                
                                            <div class="container">
                                                <div class="row justify-content-center">
                                                    <div class="col-lg-7">
                                                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                                                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Background Image  </h3></div>
                                                                {% comment %} <div class="card-body"> {% endcomment %}
                                                                <div class="row justify-content-center">
                                            {% for k in img_health %}
                                                {% comment %} <div class="card w-50 mb-5"> {% endcomment %}
                                                    
                                                    <img src="{{k.imageURL}}" class="card-img-bottom  mx-auto mt-4 rounded" alt="..." style="width: 250px; height: 200px;">
                                                    
                                                    
                                                    <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-2 mb-3 p-3">
                                                        <a href="{% url 'edit_Bg_health_care' k.id %}" style="text-decoration: none;" class="btn btn-outline-success me-md-2 p-2 px-4">Update</a>
                                                        <a href="{% url 'delete_Bg_health_care' k.id %}" class="btn btn-outline-danger p-2 px-4">Delete</a>
                                                        
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            </div>
                                                                    {% comment %} <form action="" method="POST" enctype="multipart/form-data">
                                                                    {% csrf_token %}      
                                                                        <div class="row mb-3">                                                                          
                                                                            <div class="col-md-12">
                                                                                <div class="form-floating mb-3">
                                                                                    <input class="form-control" id="images" type="file" placeholder="image" name="img"/>
                                                                                    <label for="images"></label>
                                                                                </div>
                                                                            </div>
                                                                        </div>                                                                    
                                                                        <div class="row mb-3">
                                                                            <div class="mt-1 mb-0">
                                                                            <button type="submit" class=" btn btn-outline-secondary d-grid gap-2 col-6 mx-auto">submit</button>                                                                            
                                                                                
                                                                            </div>                                                               
                                                                            <div class="mt-3 mb-0">
                                                                                <div class="d-grid gap-2 col-6 mx-auto"><a class="btn btn-outline-secondary" href="index.html">Back</a></div>
                                                                            </div>
                                                                        </div>                                                                                
                                                                    </form> {% endcomment %}
                                                                </div>                                                                      
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>       
                                            </div>
                                            
                                            
                                        </div>
                                    </div>
                                </div>    
                            </div>
                        </div> 
                    </div>
                
                
            </div>
 {% endblock %}    